---
import Egg from "../Egg.astro";

const {
  file = "missing-file-prop",
  title = "missing `title` prop",
  subtitle,
  link
 } = Astro.props;
---

<li class="egg-item u-mh-auto">
  {link &&
    <a class="egg-cover-link" href={`/projects/${link}/`} aria-labelled-by={link} />
  }
  <Egg file={file} />
  <span class="egg-item-caption">
    <h3 class="egg-item-title u-heading u-mb-xs" id={link}>
      {title}
    </h3>
    {subtitle &&
      <p class="egg-item-subtitle u-subhead u-font-xs">
        {subtitle}
      </p>
    }
    <div class="egg-item-paragraph u-font-xs">
      <slot />
    </div>
  </span>
</li>

<style is:global lang="scss">
	@import '../../styles/global';

  .egg-item {
    display: flex;
    align-items: center;
    width: 36rem;
    max-width: calc(100% - #{$sp-xxl});

    @media (min-width: 666px) {
      max-width: 100%;
    }

    .egg {
      flex: 0 0 7rem;
      margin-right: $sp-xl;
      margin-left: -2rem;

      @media (min-width: 666px) {
        margin-left: 0;
        margin-right: $sp-xl * 1.5;
      }
    }

    &:not(:last-of-type) {
      margin-bottom: $sp-xxl;
    }
  }
  .egg-item-caption > .egg-item-subtitle:not(:last-child) {
    margin-bottom: $sp-sm;
  }

  .egg-item-title {
    transition: 0.3s color ease-out;
  }

  .egg-cover-link {
    @include absolute-expand;
    z-index: 1;

    &:hover, &:focus {
      & ~ .egg {
        box-shadow: 0 0 3rem $gold;

        & > .egg-img {
          transform: scale(1.25);
        }
      }
      & ~ .egg-item-caption > .egg-item-title {
        color: $white;
      }
    }
  }

  .egg-item-paragraph > * {
    @include font-xxs;

    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
</style>
