---
import { getCollection } from 'astro:content';
const projects = await getCollection('projects');

import Layout from '../layouts/Layout.astro';
import CTA from '../components/layout/CTA.astro';
import LogoSection from '../components/layout/LogoSection.astro';
import SectionTitle from '../components/layout/SectionTitle.astro';
import EggItem from '../components/layout/EggItem.astro';
import Button from '../components/Button.astro';

const heroProps = {
	headline: "Event installations & asset fabrication",
	subhead: "From small custom built assets to large scale themed installations, this is our realm.",
	showButton: true
}
---

<Layout slug="home" title="Home" heroProps={heroProps}>
	<SectionTitle title="Our work" subtitle="A selection of examples that we can share publically"/>

	<ul class="egg-list u-pb-xl">
		{projects.map((project, i) => i < 4 && (
			<EggItem
				link={project.slug}
				title={project.data.title}
				file={`projects/${project.slug}/${project.data.video ? "video" : "1"}`}
				subtitle={`${project.data.year} • ${project.data.location}`}
			/>
		))}
	</ul>

	<p><Button href="/projects/">More projects</Button></p>

	<LogoSection />

	<CTA />
</Layout>

<!-- <style is:global lang="scss">
	@import '../styles/global';
</style> -->
