---
import { getCollection } from 'astro:content';

import Layout from '../../layouts/Layout.astro';
import ProjectNav from '../../components/ProjectNav.astro';
import ProjectGallery from '../../components/ProjectGallery.astro';

export async function getStaticPaths() {
  const projectEntries = await getCollection('projects');
  const projectCount = projectEntries.length;

  return projectEntries.map((project, i) => ({
    params: { slug: project.slug },
    props: {
      project,
      prevProject: i === 0
        ? projectEntries[[projectCount - 1]]
        : projectEntries[i - 1],
      nextProject: i === projectCount - 1
          ? projectEntries[0]
          : projectEntries[i + 1]
    },
  }));
}

const { project, prevProject, nextProject } = Astro.props;
const { slug } = project;
const { title, location, year, images, video } = project.data;
const { Content } = await project.render();

const heroProps = {
  customHero: true
}
---

<Layout slug="project" title={title} heroProps={heroProps}>
  <div class="project-hero">
    <h1 class="project-title u-font-lg u-mb-xs">{title}</h1>

    <div class="project-description u-mb-xl">
      <p class="project-meta u-mb-lg">
        <span class="project-meta-location">{location}</span>
        •
        <span class="project-meta-year">{year}</span>
      </p>
  </div>

  <section class="project">
    <ProjectGallery images={images} slug={slug} video={video} />

    <div class="project-description-content">
      <Content />
    </div>

    <ProjectNav
      prevSlug={prevProject.slug}
      prevTitle={prevProject.data.title}
      nextSlug={nextProject.slug}
      nextTitle={nextProject.data.title}
    />
  </section>
</Layout>

<style is:global lang="scss">
	@import '../../styles/global';

  .project-title {
    line-height: 1;
  }

  .project-content-wrapper {
    padding-top: $sp-lg;
  }
</style>