---
import Nav from "../components/layout/Nav.astro";
import Hero from "../components/layout/Hero.astro";
import Footer from "../components/layout/Footer.astro";

const {
	title,
	slug,
	heroProps,
	keywords = "Florida, event planning, installation, fabrication, experienced, themed installations, large scale, custom built, assets, asset fabrication",
	description = "From small custom built assets to large scale themed installations, this is our realm."
} = Astro.props;

function formatTitle(title) {
	const companyName = "Envision Realm Studios";

	if (title && title !== "Home") {
		return `${title} | ${companyName}`;
	}

	return companyName;
}

const formattedTitle = formatTitle(title);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />

		<title>{formattedTitle}</title>
		<meta property="twitter:title" content={formattedTitle}>
		<meta property="og:title" content={formattedTitle}>

		<meta name="description" content={description} />
		<meta property="twitter:description" content={description}>
		<meta property="og:description" content={description}>

		<meta name="keywords" content={keywords}>

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
	</head>

	<body>
		<Nav />
		{!heroProps.customHero &&
			<Hero props={heroProps} slug={slug} />
		}
		<main class="main" id="main">
			<div class={`content-wrapper ${slug}-content-wrapper`}>
				<slot />
			</div>
		</main>
	</body>

	<Footer />
</html>

<style is:global lang="scss">
	@import '../styles/main';

	.main {
		overflow: hidden;
		width: 100%;
	}

	.content-wrapper {
		padding: $sp-xxl * 1.5 0;
	}

	.content-wrapper > * {
		@include container;
		padding-left: $sp-xl;
		padding-right: $sp-xl;
	}

	.wrapper > :first-child {
		z-index: 1;
	}

	.middle-section {
		background: $black;
    padding-bottom: $sp-md;
    margin-top: $sp-xxl * 1.5;
    margin-bottom: $sp-xxl * 1.625;

    &[class] {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    &:before,
    &:after {
      @include pseudo;
      height: $sp-xxl;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
      background: $black;
    }
    &:before {
      top: -$sp-xxl;
      border-radius: 50% 50% 0 0;
    }
    &:after {
      top: 100%;
      border-radius: 0 0 50% 50%;
    }

    .section-title {
      margin-bottom: $sp-md;
    }
	}

	.bullet-list {
		margin-bottom: $sp-xl * 1.5;

		li {
			padding-left: 1em;
			margin-bottom: 0.5em;

			&:before {
				content: "•";
				font-size: 1.5em;
				color: $gold;
				display: block;
				position: absolute;
				left: 0;
				line-height: 1;
			}
		}
	}
</style>
